/* Base styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* LandingPage css */

/* src/styles/styles.css */

.landing-page {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevents overflow in both x and y axes */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../styles/background-image2.jpg"); /* Replace with your background image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  text-align: center;
  padding: 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adds a semi-transparent background to content */
  border-radius: 10px;
  color: white;
}

.auth-form {
  margin-top: 20px;
}

.auth-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-button.google-signin {
  background-color: #db4437;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.toggle-message {
  margin-top: 10px;
  color: #ddd;
  cursor: pointer;
}

.toggle-message span {
  color: #007bff;
  text-decoration: underline;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* src/styles/styles.css */

/* src/styles/styles.css */

.header {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #282c34;
  color: white;
}

.header-content {
  width: 100%;
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2rem; /* Adjust font size as needed */
  text-align: center; /* Center the heading text */
  color: #0099cc;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px; /* Space between heading and navigation */
}

.left-section {
  display: flex;
  gap: 20px; /* Space between the links */
}

.home-button,
.analytics-button {
  display: block;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.home-button:hover,
.analytics-button:hover {
  color: #0099cc;
  background: #f2f2f2;
}

.right-section {
  display: flex;
  align-items: center;
}

.sign-out-button {
  background-color: #dc3545; /* Adjust the color as needed */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.sign-out-button:hover {
  background-color: #c82333; /* Adjust the color as needed */
}

.auth-link {
  text-decoration: none;
  color: #007bff; /* Adjust the color as needed */
  font-weight: bold;
}

.App-main {
  padding: 20px;
  flex: 1;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

/* Analytics Dashboard */
.AnalyticsDashboard {
  padding: 20px;
  width: 100%;
}

.Analytics-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.Analytics-table th,
.Analytics-table td {
  border: 2px solid #ddd;
  padding: 12px 15px;
}

.Analytics-table th {
  background-color: #007bff;
  color: white;
  text-align: left;
}

.Analytics-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Analytics-table tr:hover {
  background-color: #ddd;
}

.Analytics-table a {
  color: #46baf4;
  text-decoration: none;
}

.Analytics-table a:hover {
  text-decoration: underline;
}

/* QR Code Generator */
.QRCodeGenerator {
  padding: 20px;
}

/* URL Shortener */
.URLShortener {
  padding: 20px;
}

.URL-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.URL-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.URL-button:hover {
  background-color: #0056b3;
}

.URL-link {
  color: #007bff;
  text-decoration: none;
}

.URL-link:hover {
  text-decoration: underline;
}
